@media screen and (max-width: 395px) {
    .container_big-card {
        width: 100vw;
        height: 400px;
        margin: 0;
    }
    
    .big-card_photo {
        margin: 0 auto;
    }

    .big-card_photo > img {
        width: 100%;
    }
}