.container_menu-title > h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 7rem;
    letter-spacing: 10px;
    display: flex;
    justify-content: center;
    background-color: #00000075;
}

.container_menu-title > hr {
    margin-top: 20px;
    margin-bottom: 5px;
}