

<app-menu-title></app-menu-title>
<div class="container_articles">
    <div class="articles_main">
        <app-big-card Id="1" photoCover="https://th.bing.com/th/id/R.4a3cbb95d24cf853d804bb4709580f83?rik=7YjdXY94pUpI4g&pid=ImgRaw&r=0" cardTitle="Dragon Quest XI" cardDescription="Lançamento do novo Dragon Quest XI"></app-big-card>
    </div>

    <div class="container_articles_others">
        <app-small-card Id="2"
        photoCover="https://th.bing.com/th/id/R.95555eddff23564a80aa4d108062f69b?rik=0M3Xn3hLlJLO5g&pid=ImgRaw&r=0" cardTitle="Lançamento Dragon Quest I">
        </app-small-card>

        <app-small-card Id="3"
        photoCover="https://th.bing.com/th/id/R.f94f6f7425c6e8c8e15cfb4c3bb40468?rik=4W5R655PxGW6MQ&pid=ImgRaw&r=0" cardTitle="Lançamento Dragon Quest II">
        </app-small-card>

        <app-small-card Id="4"
        photoCover="https://cdn.vox-cdn.com/thumbor/b5-duEvrZeYK_psAPcSHan9iWBk=/62x0:737x450/1200x800/filters:focal(62x0:737x450)/cdn.vox-cdn.com/uploads/chorus_image/image/47651187/dragon_quest_7.0.0.jpg" cardTitle="Lançamento Dragon Quest VII">
        </app-small-card>
    </div>
</div>