header {
    display: flex;
    justify-content: center;

    margin-top: 15px;
}

.container_articles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    margin-top: 25px;
}